<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width , initial-scale = 1.0 ">
        <title>Login</title>
        <link rel="icon" href="https://i.postimg.cc/br1H7MKF/favicon-2.png"></link>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Kodchasan:wght@200&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="CSS/login.css">
    
        <link rel="stylesheet" href="CSS/header.css"></link>
        <!-- <link rel="stylesheet" href="CSS/footer.css"></link> -->
    </head>
    <body>
        <div class="logincontainer_header">
            <%- include("../partials/header") -%>
        </div>
       <div class="fulllogin_container">
        <div class="headline_login">LOGIN HERE!</div>
        <div class="login_container">
          <% if (typeof error !== 'undefined') { %>
            <p class="error" id="error-message"><%= error %></p>
          <% } %>
        <form action="/login" method="post">
        <div class="containerlogin">
          <div class="form-group">
              <label for="username"><b>Email Address</b></label>
              <input type="text" placeholder="Enter Email Address" name="email_uname" required style="font-size: 12px;">
              <label for="password"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="psw" required style="font-size: 12px;">
            <div class="loginbtn>"> <button class="lgbtn" type="submit">Login</button></div>
          </div>
          <label>
              <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
          <div class="signUp">
              <h5>Not a Member ? <a href="/signUp">Signup Now</a></h5>
          </div>
          <div class="smallcontainerlogin">
           <div class="cancelbtn"> <button type="button">Cancel</button></div>
            <span class="psw">Forgot <a href="/forgot">password?</a></span>
          </div>
          </div> 
        </form>
    </div>
  </div>
    <script>
    setTimeout(() => {
      const errorMessage = document.getElementById('error-message');
      if (errorMessage) {
        errorMessage.remove();
      }
    }, 3000);
  </script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
      <script src="JS/header.js"></script>
    </body>
  
</html>