<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <!-- Add your CSS and JavaScript references -->
</head>
<body>
  <h1>Welcome, <%= userName %>!</h1>

  <% if (cartItems && cartItems.length > 0) { %>
    <h2>Your Cart:</h2>
    <ul>
      <% let uniqueBooks = new Map(); %>
      <% cartItems.forEach((item) => { %>
        <% const bookTitle = item.book.title; %>
        <% if (!uniqueBooks.has(bookTitle)) { %>
          <% uniqueBooks.set(bookTitle, item); %>
          <li><%= item.quantity %> x <%= bookTitle %></li>
        <% } %>
      <% }) %>
    </ul>
  <% } else { %>
    <p>Your cart is empty.</p>
  <% } %>
</body>
</html>


